@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

.container {
    max-width: 1205px;
    margin: 0 auto;
}

section {
    background-color: #1B1E22;
    padding: 20px 0 60px 0;
}

/* Intro */

.intro {
    background: linear-gradient(to top, rgba(27, 30, 34, 1), rgba(100, 100, 100, .3)), url(../images/bg-intro.png);
    background-size: cover;

    padding: 35px 0 50px 0;
}

/* Header */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    width: 183px;
    height: 50px;
}

.languages a {
    color: #fff;
    font-size: 13px;
    font-weight: 500;

    padding-right: 15px;

    text-decoration: none;
}

.languages a:visited {
    color: #C4C4C4;
    opacity: .5;
}

#toggle{
    display: none;
    color: #fff;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav a {
    color: #fff;
    font-size: 18px;
    font-weight: 400;

    padding: 10px 29px;

    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 10px;

    transition: linear 0.3s;
}

nav a:hover {
    border: 1px solid #FFB800;      
}

/* Intro-center */

.intro-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
}

.main-text {
    width: 45%;
}

.main-text h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 500;
}

.main-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;

    line-height: 34px;

    padding-top: 10px;
}

.fast-search {
    width: 40%;
    padding: 51px 75px;
    position: relative;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    width: 100%;
    height: 100%;
    
    filter: blur(5px);
    background-color: black;
    opacity: .5;
}

.fast-search form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.fast-search h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 18px;
}


input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;} 
input:-moz-placeholder      {text-overflow:ellipsis;} 
input:-ms-input-placeholder {text-overflow:ellipsis;}    

.fast-search input {
    background-color: transparent;
    padding: 10px 0 10px 10px;
    border: 1px solid #fff;
    border-radius: 3px;
}

#where::-webkit-input-placeholder, #when::-webkit-input-placeholder, #how-long::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    transition: linear 0.2s;
}

#where::-moz-placeholder, #when::-moz-placeholder, #how-long::-moz-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    transition: linear 0.2s;
}

#where:-moz-placeholder, #when:-moz-placeholder, #how-long:-moz-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    transition: linear 0.2s;
}

#where:-ms-input-placeholder, #when:-ms-input-placeholder, #how-long:-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    transition: linear 0.2s;
}

#where:focus::-webkit-input-placeholder, #when:focus::-webkit-input-placeholder, #how-long:focus::-webkit-input-placeholder {
    color: transparent;
}

#where::-moz-placeholder, #when::-moz-placeholder, #how-long::-moz-placeholder {
    color: transparent;
}

#where:-moz-placeholder, #when:-moz-placeholder, #how-long:-moz-placeholder {
    color: transparent;
}

#where:-ms-input-placeholder, #when:-ms-input-placeholder, #how-long:-ms-input-placeholder {
    color: transparent;
}

.myinput {
    width: 100%;
    position: relative;
}

.myinput-icon {
    position: absolute;
    top: 20%;
    right: 3%;
    z-index: -1;

    color: #fff;
}

#where {
    width: 100%;
    margin-bottom: 20px;

    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}

#where:focus + .myinput-icon {
    color: transparent;
    transition: linear 0.2s;
}

#when {
    width: 45%;

    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}

#how-long {
    width: 49%;

    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}

.myselect {
    width: 100%;
    position: relative;
}

form select {
    width: 100%;
    margin: 20px 0;
    padding: 10px 0 10px 5px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance:none;
    position: relative;
    z-index: 2;

    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 500;

    border: 1px solid #fff;
    border-radius: 3px;

    background-color: transparent;
}

.arrow {
    position: absolute;
    top: 40%;
    right: 4%;
    z-index: 1;

    width: 10px;
    height: 10px;

    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;

    transform: rotate(-45deg);
}

form select:focus + .arrow {
    top: 45%;
    transform: rotate(135deg); 
}

.find {
    color: #333333;
    background-color: #FFB800;
    font-size: 20px;
    font-weight: 500;

    width: 100%;
    padding: 8px 0;

    border: none;
    border-radius: 4px;

    cursor: pointer;
}

.find:hover {
    background-color: #FFB800;
    color: #333333;

    transition: all 0.3s linear;
}

/* Intro-bottom */

.intro-bottom {
    margin-top: 220px;
}

.intro-bottom h2 {
    margin-bottom: 30px;

    color: #fff;
    font-size: 34px;
    font-weight: 500;

    text-align: center;
}

.intro-bottom-items {
    display: flex;
    justify-content: space-between;
}

.intro-bottom-item {
    width: 20%;
    padding-top: 90px;

    color: #fff;
    font-size: 20px;
    font-weight: 500;

    text-align: center;
}

.intro-bottom-item:first-child {
    background-image: url(../images/visa.png);
    background-position: center top;
    background-repeat: no-repeat;
}

.intro-bottom-item:nth-child(2) {
    background-image: url(../images/world.png);
    background-position: center top;
    background-repeat: no-repeat;
}

.intro-bottom-item:nth-child(3) {
    background-image: url(../images/hunter.png);
    background-position: center top;
    background-repeat: no-repeat;
}

.intro-bottom-item:last-child {
    background-image: url(../images/bbq.png);
    background-position: center top;
    background-repeat: no-repeat;
}

/* Actual directions */

#actual-directions h2 {
    color: #fff;
    font-size: 34px;
    font-weight: 500;

    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 20px;
}

.card-item {
    position: relative;
    width: 32%;
    margin-bottom: 20px;
    
    background-color: #23282F;
    border-radius: 4px;
    line-height: 24px;

    transition: linear 0.3s;
}

.card-item:hover {
    background-color: #fff;
    transform: scale(1.05);
}

.card-item:hover p, .card-item:hover h3 {
    color: #333333;
}

.card-information {
    padding: 10px 25px;
}

.card-item h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    
    margin-bottom: 13px;
}

.card-item p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    margin-bottom: 13px;
}

#more {
    color: gray;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
}

.cost-date {
    position: absolute;
    display: flex;
    top: 40%;
    left: 0;
}

.cost {
    padding: 3px 3px;

    color: #1B1E22;
    font-size: 13px;
    font-weight: 500;

    background-color: #FFB800;
}

.cost span {
    font-size: 20px;
    font-weight: 700;
}

.date {
    padding: 5px 3px;

    color: #fff;
    font-size: 13px;
    font-weight: 500;

    background-color: rgba(27, 30, 34, .5);
}

.watch-all {
    display: block;
    width: 20%;
    margin: 20px auto 0;

    padding: 8px 10px;
    
    color: #fff;
    font-size: 20px;
    font-weight: 500;

    text-decoration: none;
    text-align: center;
    border: 1px solid #FFB800;
    border-radius: 5px;

    transition: linear 0.3s;
}

.watch-all:hover {
    color: rgba(27, 30, 34);
    background-color: #FFB800;
}

/* Numbers */

.numbers {
    position: relative;
    z-index: -2;

    background-image: url(../images/numbers.png);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 70px 0;
}

.numbers .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gray-bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-color: rgba(27, 30, 34, 0.82);
}

.numbers-number {
    margin-bottom: 12px;

    color: #FFB800;
    font-size: 78px;
    font-weight: 500;
    text-align: center;
}

.numbers-text {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

/* Our-blog */

#our-blog h2 {
    color: #fff;
    font-size: 34px;
    font-weight: 500;

    margin: 50px 0 40px;
    text-align: center;
}

#our-blog .card-item:hover {
    background-color: #23282F;
}

#our-blog .card-item:hover p, #our-blog .card-item:hover h3 {
    color: #fff;
}

#our-blog .card-item {
    width: 23%;
}

#our-blog .card-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#our-blog .card-item.first {
    width: 50%;
}

.first {
    background-image: url(../images/red-man.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.first-text {
    margin: 80px auto 0;
}

.first h3 {
    color: #fff;
    font-size: 34px;
    font-weight: 500;

    text-align: center;
}

.first p {
    color: #fff;
    font-size: 13px;
    font-weight: 400;

    text-align: center;
}

.first:hover h3 {
    color: #fff;
}

.first:hover p {
    color: #fff;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    
}

.card-bottom p, .comments, .like {
    color: rgba(100, 100, 100, .9);
}

.comments, .like {
    text-decoration: none;
}

.comments {
    margin-right: 20px;
}

.like:visited {
    color: #fff;
}

.like:visited i {
    color: #FFB800;
}

/* reviews */

#reviews .container {
    background-image: url(../images/quotes.png);
    background-repeat: no-repeat;
    background-position: 50% 74%;
}

#reviews h2 {
    color: #fff;
    font-size: 34px;
    font-weight: 500;

    text-align: center;
}

.reviews-img {
    width: 96px;
    display: block;
    margin: 40px auto 0;
}

.reviews-text {
    color: #fff;
    font-size: 24px;
    font-weight: 400;

    width: 77%;
    margin: 30px auto 0;

    text-align: center;
}

.reviews-name {
    color: #FFB800;
    font-size: 16px;
    font-weight: 600;

    margin-top: 10px;

    text-align: center;
}

/* Footer */

footer {
    padding: 10px 0 40px;
    background-color: #1B1E22;
}

footer .container {
    display: flex;
    justify-content: space-around;
}

.group {
    width: 23%;
}

.subgroup {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
}

.group p {
    color: #FFB800;
    font-size: 13px;
    font-weight: 400;
    
}

.group a {
    color: #fff;
    font-size: 13px;
    font-weight: 400;

    text-decoration: none;
}

.second-group {
    display: flex;
    justify-content: space-between;
}

.second-group a {
    display: block;
    margin-bottom: 15px;
}

.telephones a:hover {
    text-decoration: underline;
}

.icons {
    margin-top: 15px;
}

.icons a {
    display: inline-block;
    vertical-align: middle;

    margin-right: 10px;
    padding: 3px;

    color: #fff;
    font-size: 18px;
    border-radius: 3px;

    transition: linear 0.2s;
}

.icons a:hover {
    background-color: #fff;
}

.icons a:hover i {
    color: #1B1E22;
    transition: linear 0.2s;
}


@media (max-width: 1220px) {
    .container {
        width: 1000px;
    }

    /* Header */

    nav a {
        padding: 8px 15px;
    }

    /* Cards */
    .cost-date {
        top: 30%;
    }

    /* Footer */
}

@media (max-width: 1000px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 975px) {

    /* Header */

    .logo {
        width: 70%;
        height: 70%;
    }

    nav a {
        padding: 8px 10px;
        font-size: 12px;
    }

    .languages a {
        font-size: 10px;
    }

    /* Intro */

    .intro {
        background-position: 50%, 50%;
    }

    /* Intro-center */

    .intro-center {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-text {
        width: 70%;
        text-align: center;
    }

    .fast-search {
        width: 70%;
        margin-top: 50px;
    }

    /* Intro-bottom */

    .intro-bottom-items {
        flex-wrap: wrap;
        justify-content: center;
    }

    .intro-bottom-item {
        width: 40%;
    }

    .cards {
        flex-wrap: wrap;
        /* justify-content: center; */
    }

    .card-item {
        width: 47%;
    }

    .watch-all {
        width: 30%;
    }

    /* Numbers */

    .numbers .container {
        flex-wrap: wrap;
    }

    .numbers-info {
        width: 40%;
    }

    /* Our-blog */

    #our-blog .cards {
        flex-wrap: wrap;
    }

    #our-blog .card-item {
        width: 49%;
    }

    #our-blog .card-item.first {
        width: 100%;
    }

    /* Footer */

    .group {
        width: 32.33%;
    }
}

@media (max-width: 780px) {

    /* Header */
    
    header nav {
        display: none;
    }

    #toggle {
        display: block;
    }

    header nav li{
        display: block;
        padding: 19px 0 19px 10px;
        background-color: rgba(27, 30, 34, 0.7);
        border-bottom: 1px solid #424750;
    }

    ul:last-child {
        border-bottom: none;
    }

    #main {
        display: block;
    }

    #toggle:hover + nav{
        display: block;
        position: absolute;
        top: 75px;
        left: 0;
        right: 0;;
    }

    .watch-all {
        width: 40%;
    }

    /* Cards */

    .cost-date {
        top: 25%;
    }

    /* Footer */

    footer .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .group {
        width: 70%;
        margin-top: 20px;
    }

    .last-group {
        display: flex;
        justify-content: space-between;
    }

    .icons {
        margin-top: 0;
    }
}

@media (max-width: 630px) {

    /* Intro-center */

    .main-text, .fast-search {
        width: 95%;
    }

    .main-text h1 {
        font-size: 30px;
    }

    .main-text p {
        font-size: 15px;
    }

    .fast-search {
        padding: 40px 50px;
    }

    /* Intr0-bottom */

    .intro-bottom {
        margin-top: 100px;
    }

    .intro-bottom-item {
        width: 80%;
        margin-top: 40px;
    }


    /* Cards */

    .cards {
        justify-content: center;
    }

    .card-item {
        width: 80%;
    }

    .cost-date {
        top: 35%;
    }

    /* Numbers */
    .numbers-info {
        width: 70%;
        margin-top: 50px;
    }

    /* Our-blog */ 

    #our-blog .cards {
        justify-content: center;
    }

    #our-blog .card-item {
        width: 100%;
    }

    /* Reviews */

    .reviews-text {
        font-size: 18px;
    }
}

@media (max-width: 400px) {

    /* Intro-center */

    .main-text, .fast-search {
        width: 100%;
    }

    .fast-search h3 {
        font-size: 15px;
    }

    #when, #how-long {
        width: 100%;
    }

    #how-long {
        margin-top: 20px;
    }

    /* Cards */

    .card-item {
        width: 95%;
    }

    .cost-date {
        top: 30%;
    }

    .watch-all{
        width: 60%;
    }

    #our-blog .card-item {
        width: 95%;
    }

    /* Footer */
    .group {
        width: 90%;
    }
}